<div th:fragment="productList" xmlns:th="http://www.w3.org/1999/xhtml">
    <section class="item-show__div clearfix">
        <div class="sort-box bgf5">
            <div class="sort-text">排序：</div>
            <a href=""><div class="sort-text">销量 <i class="iconfont icon-sortDown"></i></div></a>
            <a href=""><div class="sort-text">评价 <i class="iconfont icon-sortUp"></i></div></a>
            <a href=""><div class="sort-text">价格 <i class="iconfont"></i></div></a>
            <div class="sort-total pull-right" th:text="|共${productPageInfo.total}个商品|"></div>
        </div>
        <div class="pull-left">
            <div class="item-list__area clearfix">
                <div class="item-card" th:each="product : ${productPageInfo.list}">
                    <a href="item_show.html" class="photo">
                        <img th:alt="${product.name}" th:src="${productImageMap.get(product.id).url}" class="cover">
                        <div class="name" th:text="${product.name}"></div>
                    </a>
                    <div class="middle">
                        <div class="price"><small>￥</small><span th:text="${product.showPrice}"></span></div>
                        <div class="sale"><a href="">加入购物车</a></div>
                    </div>
                    <div class="buttom">
                        <div>库存 <b>666</b></div>
                        <div>销量 <b>888</b></div>
                        <div>评论 <b>1688</b></div>
                    </div>
                </div>
            </div>
            <!-- 分页 -->
            <div class="page text-right clearfix">
                <a class="disabled">上一页</a>
                <a class="select">1</a>
                <a href="">2</a>
                <a href="">3</a>
                <a href="">4</a>
                <a href="">5</a>
                <a class="" href="">下一页</a>
                <a class="disabled">1/5页</a>
                <form action="" class="page-order">
                    到第
                    <input type="text" name="page">
                    页
                    <input class="sub" type="submit" value="确定">
                </form>
            </div>
        </div>
        <div class="pull-right">
            <div class="desc-segments__content">
                <div class="lace-title">
                    <span class="c6">爆款推荐</span>
                </div>
                <div class="picked-box">
                    <a href="" class="picked-item"><img src="/images/temp/S-001.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-002.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-003.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-004.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-005.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-006.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-007.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-008.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-009.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                    <a href="" class="picked-item"><img src="/images/temp/S-010.jpg" alt="" class="cover"><span class="look_price">¥134.99</span></a>
                </div>
            </div>
        </div>
    </section>
</div>
