<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head th:include="shop/common/template :: header">
<body>
	<div th:include="shop/common/template :: top"></div>
	<div th:include="shop/common/template :: search"></div>
	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<div class="all-cat">
				<div class="title"><i class="iconfont icon-menu"></i> 全部分类</div>
			</div>
			<div th:include="shop/common/template :: menuList"></div>
		</div>
	</div>
	<div class="content inner">
		<section class="filter-section clearfix">
			<ol class="breadcrumb">
				<li><a href="/">首页</a></li>
				<li class="active">商品筛选</li>
			</ol>
			<div class="filter-box">
				<div class="all-filter">
					<div class="filter-value">
						<div class="filter-title">选择商品分类 <i class="iconfont icon-down"></i></div>

						<!--用于异步加载产品数据-->
						<form id="searchData">
							<input name="searchText" th:value="${searchText}"  hidden>
							<input name="productKidType" th:value="${productKidType}"  hidden>
							<!-- 已选选项 -->
							<div class="ul_filter">
							</div>
						</form>
						<a class="reset pull-right" href="javascript:;" onclick="resetTitle()">重置</a>
					</div>
				</div>

				<div class="filter-prop-item">
					<span class="filter-prop-title">分类：</span>
					<ul class="clearfix">
						<a href=""><li class="active">全部</li></a>
						<span th:each="productType : ${productTypesMap.get(Long.parseLong(0))}">
							<a href="javascript:;" >
								<li th:text="${productType.name}" th:attr="onclick = |addSearchTitle('分类：${productType.name}','productTypes',${productType.id})|"></li>
							</a>
						</span>
					</ul>
				</div>
				<div class="filter-prop-item">
					<span class="filter-prop-title">颜色：</span>
					<ul class="clearfix">
						<a href=""><li class="active">全部</li></a>
						<span th:each="color:${colors}">
							<a href="javascript:;">
								<li th:text="${color.name}" th:attr="onclick = |addSearchTitle('颜色：${color.name}','colors',${color.id})|"></li>
							</a>
						</span>
					</ul>
				</div>
				<div class="filter-prop-item">
					<span class="filter-prop-title">年龄：</span>
					<ul class="clearfix">
						<a href=""><li class="active">全部</li></a>
						<span th:each="yearOld : ${yearOlds}">
							<a href="javascript:;">
								<li th:text="${yearOld.name}" th:attr="onclick = |addSearchTitle('年龄：${yearOld.name}','yearOlds',${yearOld.id})|"></li>
							</a>
						</span>
					</ul>
				</div>
				<div class="filter-prop-item">
					<span class="filter-prop-title">价格：</span>
					<ul class="clearfix">
						<a href=""><li class="active">全部</li></a>
                        <span th:each="searchMoney : ${searchMoneys}">
						    <a href="javascript:;">
								<li th:text="${searchMoney.name}" th:attr="onclick = |addSearchTitle('价格：${searchMoney.name}','moneys',${searchMoney.id})|"></li>
							</a>
                        </span>
						<form class="price-order" id="moneySearch">
							<input name = "moneyBegin" id="moneyBegin" type="text">
							<span class="cc">-</span>
							<input name="moneyEnd" id="moneyEnd" type="text" >
							<input type="button" onclick="loadProductList(1)" value="确定">
						</form>
					</ul>
				</div>
			</div>
			<div id="danger" class="alert alert-danger  hidden" role="alert"></div>
		</section>
		<div id="product_list" class="text-center text-success"></div>
	</div>
	<!-- 右侧浮动菜单 -->
	<div th:include="shop/common/template :: rightMenu"></div>
	<!-- 底部信息 -->
	<div th:include="shop/common/template :: footer"></div>
</body>
<script>
    //动态添加上方选中搜索框
	function addSearchTitle(name,type,value){
	    var oldTitle = $(".ul_filter").html();
	    var newTitle = "<span class='pull-left'>"+name+"<a href='javascript:;' class='close'>&times;</a></span>";
        var newForm = "<input name="+type+" value="+value+"  hidden>";
	    if(oldTitle.indexOf(name)>0){
            $(".alert-danger").text("请不要添加重复得搜索条件！")
			$(".alert-danger").removeClass("hidden");
            //2秒后消失提示框
            var id = setTimeout(
                function () {
                    $(".alert-danger").addClass("hidden");
                }, 3000
            );
	        return;
		}
        $(".ul_filter").html(oldTitle+newTitle+newForm);//维护搜索小标题展示和搜索数据
        loadProductList();
	}
	//删除单个标题
    $(".ul_filter").on('click',".pull-left",function () {
        event.stopPropagation();
        $(this).next().remove();//删除搜索数据
        $(this).remove();//删除当前小标题
        loadProductList();
	})


    //动态添加上方选中搜索框
    function resetTitle(){
        $(".ul_filter").html("");
        $("#moneyBegin").val("");
        $("#moneyEnd").val("");
    }

    /**
	 * 加载产品列表
     */
	function loadProductList(page){
	    if(page==null||page ==0||typeof(page)=="undefined"){
	        page=1;
		}
        $("#product_list").html("加载中，请耐心等待......");
		var data = $("#searchData").serialize();
        var data2 = $("#moneySearch").serialize();
		$.get("/product/list?page="+page+"&"+data+"&"+data2,function (data) {
		    $("#product_list").html(data);
        })
        $("html,body").animate({scrollTop:220}, 0);
	}
    /**
     * 加载产品列表加载商品列表
     */
    $(function(){
         loadProductList();
	})

</script>
</html>