<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="keywords" content="" th:content="${webInfo.keyWorld}"/>
    <meta name="description" content="" th:content="${webInfo.keyWorld}"/>
    <link rel="shortcut icon" href="" th:href="${webInfo.icoUrl}">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/jquery.1.12.4.min.js" charset="UTF-8"></script>
    <script src="/js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="/js/swiper.min.js" charset="UTF-8"></script>
    <script src="/js/global.js" charset="UTF-8"></script>
    <script src="/js/alert.min.js" charset="UTF-8"></script>
    <title th:text="${webInfo.name}"></title>
</head>

<head th:fragment="login_header">
    <meta charset="UTF-8">
    <meta name="keywords" content="" th:content="${webInfo.keyWorld}"/>
    <meta name="description" content="" th:content="${webInfo.keyWorld}"/>
    <link rel="shortcut icon" href="" th:href="${webInfo.icoUrl}">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery.1.12.4.min.js" charset="UTF-8"></script>
    <script src="js/bootstrap.min.js" charset="UTF-8"></script>
    <script src="js/jquery.form.js" charset="UTF-8"></script>
    <script src="js/global.js" charset="UTF-8"></script>
    <script src="js/login.js" charset="UTF-8"></script>
    <title  th:text="|${webInfo.name} - 登陆 / 注册|"></title>
</head>
<body>
    <!-- 顶部tab -->
    <div th:fragment="top">
        <div class="tab-header">
            <div class="inner">
                <div class="pull-left">
                    <div class="pull-left">嗨，欢迎来到<span class="cr" th:text="${webInfo.name}"></span></div>
                    <a href="agent_level.html">网店代销</a>
                    <a href="temp_article/udai_article4.html">帮助中心</a>
                </div>
                <div class="pull-right">
                    <a href="/login" target="_blank"><span class="cr">登录</span></a>
                    <a href="/login/register" target="_blank">注册</a>
                    <a href="/user/index" target="_blank">我的</a>
                    <a href="/user/order" target="_blank">我的订单</a>
                    <a href="/user/integral" target="_blank">积分平台</a>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="search">
        <!-- 搜索栏 -->
        <div class="top-search">
            <div class="inner">
                <div th:fragment="body_logo">
                    <a class="logo" href="/"><img src="" th:src="${webInfo.logoUrl}" alt="" th:alt="${webInfo.name}" class="cover"></a>
                </div>
                <div class="search-box">
                    <form class="input-group" action="/product/search">
                        <input placeholder="Ta们都在搜" type="text" name="searchText" th:value="${searchText}">
                        <span class="input-group-btn">
						<button type="submit">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						</button>
					</span>
                    </form>
                    <p class="help-block text-nowrap">
                        <a href="">上衣</a>
                        <a href="">裤</a>
                        <a href="">裙</a>
                        <a href="">套装</a>
                        <a href="">内衣</a>
                        <a href="">哈衣</a>
                        <a href="">亲子</a>
                        <a href="">鞋</a>
                        <a href="">帽</a>
                        <a href="">袜</a>
                    </p>
                </div>
                <div class="cart-box">
                    <a href="udai_shopcart.html" class="cart-but">
                        <i class="iconfont icon-shopcart cr fz16"></i> 购物车 0 件
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-login container clearfix" th:fragment="footer_login">
        <ul class="links" th:include="shop/common/template :: footer_menu">
        </ul>
        <!-- 版权 -->
        <p class="copyright" th:include="shop/common/template :: footer_content">
        </p>
    </div>

    <div th:fragment="footer">
        <!-- 底部信息 -->
        <div class="footer">
            <div class="footer-tags">
                <div class="tags-box inner">
                    <div class="tag-div">
                        <img src="/images/icons/footer_1.gif" alt="厂家直供">
                    </div>
                    <div class="tag-div">
                        <img src="/images/icons/footer_2.gif" alt="一件代发">
                    </div>
                    <div class="tag-div">
                        <img src="/images/icons/footer_3.gif" alt="美工活动支持">
                    </div>
                    <div class="tag-div">
                        <img src="/images/icons/footer_4.gif" alt="信誉认证">
                    </div>
                </div>
            </div>
            <div class="footer-links inner">
                <dl>
                    <dt>U袋网</dt>
                    <a href="temp_article/udai_article10.html"><dd>企业简介</dd></a>
                    <a href="temp_article/udai_article11.html"><dd>加入U袋</dd></a>
                    <a href="temp_article/udai_article12.html"><dd>隐私说明</dd></a>
                </dl>
                <dl>
                    <dt>服务中心</dt>
                    <a href="temp_article/udai_article1.html"><dd>售后服务</dd></a>
                    <a href="temp_article/udai_article2.html"><dd>配送服务</dd></a>
                    <a href="temp_article/udai_article3.html"><dd>用户协议</dd></a>
                    <a href="temp_article/udai_article4.html"><dd>常见问题</dd></a>
                </dl>
                <dl>
                    <dt>新手上路</dt>
                    <a href="temp_article/udai_article5.html"><dd>如何成为代理商</dd></a>
                    <a href="temp_article/udai_article6.html"><dd>代销商上架教程</dd></a>
                    <a href="temp_article/udai_article7.html"><dd>分销商常见问题</dd></a>
                    <a href="temp_article/udai_article8.html"><dd>付款账户</dd></a>
                </dl>
            </div>
            <div th:fragment="clarfix">
                <div class="copy-box clearfix">
                    <ul class="copy-links" th:fragment="footer_menu">
                        <a href="agent_level.html"><li>网店代销</li></a>
                        <a href="class_room.html"><li>U袋学堂</li></a>
                        <a href="udai_about.html"><li>联系我们</li></a>
                        <a href="temp_article/udai_article10.html"><li>企业简介</li></a>
                        <a href="temp_article/udai_article5.html"><li>新手上路</li></a>
                    </ul>
                    <!-- 版权 -->
                    <p class="copyright" th:fragment="footer_content">
                        © 2005-2017 U袋网 版权所有，并保留所有权利<br>
                        ICP备案证书号：闽ICP备16015525号-2&nbsp;&nbsp;&nbsp;&nbsp;福建省宁德市福鼎市南下村小区（锦昌阁）1栋1梯602室&nbsp;&nbsp;&nbsp;&nbsp;Tel: 18650406668&nbsp;&nbsp;&nbsp;&nbsp;E-mail: 18650406668@qq.com
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--搜索下部导航-->
    <div th:fragment="menuList">
        <ul class="nva-list">
            <th th:with="url = ${#httpServletRequest.getRequestURI()}">
                <a href="/"><li th:class="${url == '/'} ? 'active' : ''">首页</li></a>
                <a href="temp_article/udai_article10.html"><li th:class="${url == ''} ? 'active' : ''">企业简介</li></a>
                <a href="temp_article/udai_article5.html"><li th:class="${url == ''} ? 'active' : ''">新手上路</li></a>
                <a href="class_room.html"><li th:class="${url == ''} ? 'active' : ''">U袋学堂</li></a>
                <a href="enterprise_id.html"><li th:class="${url == ''} ? 'active' : ''">企业账号</li></a>
                <a href="udai_contract.html"><li th:class="${url == ''} ? 'active' : ''">诚信合约</li></a>
                <a href="item_remove.html"><li th:class="${url == ''} ? 'active' : ''">实时下架</li></a>
            </th>
        </ul>
    </div>


    <!-- 右侧浮动菜单 -->
    <div th:fragment="rightMenu">
        <div class="right-nav">
            <ul class="r-with-gotop">
                <li class="r-toolbar-item">
                    <a href="udai_welcome.html" class="r-item-hd">
                        <i class="iconfont icon-user"></i>
                        <div class="r-tip__box"><span class="r-tip-text">用户中心</span></div>
                    </a>
                </li>
                <li class="r-toolbar-item">
                    <a href="udai_shopcart.html" class="r-item-hd">
                        <i class="iconfont icon-cart" data-badge="10"></i>
                        <div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
                    </a>
                </li>
                <li class="r-toolbar-item">
                    <a href="udai_collection.html" class="r-item-hd">
                        <i class="iconfont icon-aixin"></i>
                        <div class="r-tip__box"><span class="r-tip-text">我的收藏</span></div>
                    </a>
                </li>
                <li class="r-toolbar-item">
                    <a href="" class="r-item-hd">
                        <i class="iconfont icon-liaotian"></i>
                        <div class="r-tip__box"><span class="r-tip-text">联系客服</span></div>
                    </a>
                </li>
                <li class="r-toolbar-item">
                    <a href="issues.html" class="r-item-hd">
                        <i class="iconfont icon-liuyan"></i>
                        <div class="r-tip__box"><span class="r-tip-text">留言反馈</span></div>
                    </a>
                </li>
                <li class="r-toolbar-item to-top">
                    <i class="iconfont icon-top"></i>
                    <div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
                </li>
            </ul>
            <script>
                $(document).ready(function(){ $('.to-top').toTop({position:false}) });
            </script>
        </div>
    </div>
</body>
</html>