<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="shop4j.dao.products.ProductMapper"  >
    <resultMap id="Product" type="shop4j.models.products.Product">

    </resultMap>
    <sql id="common_table_columns">
        id,status,update_time,update_operator,add_operator,add_time
    </sql>
    <sql id="table_columns">
        name,type,detail,show_price,<include refid="common_table_columns"/>
    </sql>
    <sql id="table_name">
        db_products.tbl_products
    </sql>
    <sql id="select_all_columns">
        SELECT <include refid="table_columns"/> from <include refid="table_name"/>
        WHERE
    </sql>
    <select id="findBySearchVO" resultMap="Product" parameterType="shop4j.vo.product.ProductSearchVOFormat">
        select DISTINCT spu.id from <include refid="table_name"/> as spu
        <if test="(ages != null and ages.size>0 ) or (colors!=null and colors.size()>0)">
          INNER JOIN db_products.tbl_product_kid as sku on sku.spu_id=spu.id and sku.num>0 and sku.status=1
          INNER JOIN db_products.tbl_product_param_value as paramValue on paramValue.product_id=sku.id and paramValue.status=1
        </if>
        where spu.status = 1
        <if test="productName != null and productName!=''">
            and
            spu.name LIKE concat('%',concat(#{productName}),'%')
        </if>
        <if test="ages != null and ages.size>0 ">
            and paramValue.param_id = 27 and paramValue.value in (
                <foreach collection="ages" item="age" separator=",">
                    #{age}
                </foreach>
            )
        </if>
        <if test="productKidTypes!=null and productKidTypes.size()>0">
            and spu.type in (
              <foreach collection="productKidTypes" item="productKidType" separator=",">
                  #{productKidType}
              </foreach>
            )
        </if>
        <if test="colors!=null and colors.size()>0">
            and paramValue.param_id = 19 and paramValue.value in (
            <foreach collection="colors" item="color" separator=",">
                #{color}
            </foreach>
            )
        </if>
        <if test="moneySearchVOS!=null and moneySearchVOS.size()>0">
            and (
            <foreach collection="moneySearchVOS" item="moneySearchVO" separator="or">
                 spu.show_price BETWEEN #{moneySearchVO.begin} AND  #{moneySearchVO.end}
            </foreach>
            )
        </if>
    </select>
    <select id="findByTypes" resultMap="Product">
        <foreach collection="typeIds" item="typeId" separator="union all">
            (SELECT product.name,product.show_price,product.id,productType.parent_id as TYPE FROM <include refid="table_name"/> as product INNER JOIN
            db_products.tbl_product_type as productType on productType.id = product.type where product.status = 1 and productType.parent_id = #{typeId} and productType.status=1 order by product.add_time desc limit 0,#{size})
        </foreach>
    </select>
</mapper>