<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="shop4j.dao.products.SearchMoneyMapper" >
    <resultMap id="SearchMoney" type="shop4j.models.products.SearchMoney">

    </resultMap>
    <sql id="common_table_columns">
        id,status,update_time,update_operator,add_operator,add_time
    </sql>
    <sql id="table_columns">
        name,begin,end,<include refid="common_table_columns"/>
    </sql>
    <sql id="table_name">
        db_products.tbl_search_money
    </sql>
    <sql id="select_all_columns">
        SELECT <include refid="table_columns"/> from <include refid="table_name"/>
        WHERE
    </sql>

</mapper>